*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
*::selection{
    color: #fff;
    background-color: rgba(0,144,81, .6);
}

html,
body{
    height: 100%;
    background-color: #fff;
    font-family: 'OpenSans';
}
h1,h2,h3{
  font-family: 'Oswald';
  font-weight: 600;
}
a{
  text-decoration: none;
  color: inherit;
}
